@font-face {
  font-family: "Quantico";
  src: url("./fonts/Quantico-BoldItalic.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Light.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
}

header {
  overflow: hidden;
  margin: 30px;
}

#top-header {
  text-align: center;
  height: 60px;
}

#logo {
  font-family: "Quantico", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 60px;
  color: #1d3d52;
  text-decoration: none;
  float: left;
}

#menu ul {
  text-align: center;
  float: right;
  margin: none;
}

#menu ul li {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

canvas {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#controls input {
  margin: 20px;
}

#controls {
  margin: 0 auto;
  width: 1000px;
}

#text,
#draw__input,
#clear {
  float: right;
}

#text {
  width: 200px;
  padding: 7px;
  font-size: 24px;
}

#draw__input,
#json {
  background-color: #1d3d52;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#json {
  background-color: #1d3d52;
  color: white;
  height: 100%;
  margin: 20px;
}

#json-map {
  display: none;
}

#canva {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 1000px;
  width: 1000px;
}

#main_img {
  margin: 0;
  height: 800px;
  background-image: url("url:./images/backgrounds.jpg?as=webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  margin: 30px;
  font-size: 64px;
  text-align: center;
  color: #1d3d52;
  font-family: "Poppins";
}

p {
  font-family: "Poppins";
  font-size: 24px;
  margin: 20px;
}

#main_div_img {
  margin: 40px auto;
  text-align: center;
}

#main_div {
  max-width: 1400px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0 auto;
}

footer {
  background-color: #1d3d52;
  padding: 40px 20px;
  color: white;
  font-size: 24px;
  margin: 40px 0 0 0;
}

#color_line {
  padding: 0;
  margin: 0;
  height: 10px;
  background-color: #1d3d52;
  background: repeating-linear-gradient(
    to right,
    #1d3d52 0,
    #1d3d52 30%,
    #f8d320 30%,
    #f8d320 100%
  );
}

.active {
  text-decoration: none;
  color: #1d3d52;
}
